<mat-toolbar color="primary">
  <span [routerLink]="['/']" routerLinkActive="router-link-active">BazaarList</span>
  <span class="fill-remaining-space"></span>
  <button mat-button color="warn" [routerLink]="['/createAd']" routerLinkActive="router-link-active"
    *ngIf="isUserAuthenticated">Create Ad</button>
  <button mat-button [routerLink]="['/user/signUp']" routerLinkActive="router-link-active"
    *ngIf="!isUserAuthenticated">Sign
    Up</button>
  <button mat-button [routerLink]="['/user/login']" routerLinkActive="router-link-active"
    *ngIf="!isUserAuthenticated">Login</button>
  <button mat-button *ngIf="isUserAuthenticated" (click)="onLogout()">Logout</button>
</mat-toolbar>