mat-form-field, textarea {
  width: 100%;
} 

.textbook-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.textbook-full-width {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 15rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}