<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- when submit button clicked, send this form to onSaveAd() method -->
    <form [formGroup]="form" class="textbook-form" (submit)="onSaveAd()" *ngIf="!isLoading">
      <mat-form-field class="textbook-full-width">
        <input type="text" matInput placeholder="Textbook Title" formControlName="title">
        <mat-error *ngIf="form.get('title').invalid">Please enter the textbook title</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button type="button" (click)="chooseFile.click()">Pick Image</button>
        <input type="file" #chooseFile (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <mat-form-field class="textbook-full-width">
        <textarea matInput rows="4" placeholder="Additional Comments" formControlName="comments"></textarea>
        <mat-error *ngIf="form.get('comments').invalid">Please enter comments</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit Ad</button><br>
    </form>
</mat-card>
