<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="loginForm" (submit)="onlogin()">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email" email required>
      <mat-error *ngIf="loginForm.get('email').invalid">Please enter a valid email</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password').invalid">Please enter a valid password</mat-error>
    </mat-form-field><br>

    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</mat-card>
