:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

.ad-image {
    height: 15rem;
    margin: 1rem 0;
}

.ad-image img {
    height: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.mat-paginator {
    margin-top: 1rem;
}