<br>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="textbookAds.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let ad of textbookAds">
    <mat-expansion-panel-header>
      {{ad.title}}
    </mat-expansion-panel-header>
    <div class="ad-image">
      <img [src]="ad.imagePath" alt="ad.title">
    </div>
    <p>{{ad.comments}}</p>
    <mat-action-row *ngIf="isUserAuthenticated && userId === ad.createdBy">
      <a mat-button color="primary" [routerLink]="['/edit', ad.id]" routerLinkActive="router-link-active">Edit</a>
      <button mat-button color="warn" (click)="onDelete(ad.id)">Delete Ad</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="textbookAds.length <= 0 && !isLoading">No posts yet</p>
<mat-paginator [length]="totalNumberOfAds" [pageSize]="adsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)" *ngIf="textbookAds.length > 0"></mat-paginator>
