<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="signUpForm" (submit)="saveUser()">
    <mat-form-field>
      <input type="text" matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
    <mat-error *ngIf="signUpForm.get('firstName').invalid && signUpForm.get('firstName').dirty">Please a first name
      between 2 and 25 characters</mat-error>
    <br>

    <mat-form-field>
      <input type="text" matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>
    <mat-error *ngIf="signUpForm.get('lastName').invalid && signUpForm.get('lastName').dirty">Please a last name between
      2 and 25 characters</mat-error><br>

    <mat-form-field>
      <input type="email" matInput placeholder="Email" name="email" formControlName="email" email>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').dirty">Please a valid email</mat-error>
    <br>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').dirty">Please a valid password
      between 8 and 15 characters
    </mat-error><br>

    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
    </mat-form-field>
    <mat-error
      *ngIf="signUpForm.get('password').value !== signUpForm.get('confirmPassword').value && signUpForm.get('confirmPassword').dirty">
      Passwords don't match !</mat-error>
    <br>

    <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid">Submit</button>
  </form>
</mat-card>
